PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=zenithdesk

WAREHOUSE_DB_NAME=zenithdesk_warehouse

JWT_SECRET=
JWT_EXPIRES_IN=1d
CUSTOMER_JWT_EXPIRES_IN=20m

RESEND_API_KEY=
RESEND_FROM_EMAIL=
